body {
	border-top: 4px solid white;
	text-align: center;
	font-family: 'Gentium Book Basic', serif;
	font-size: 18px;
	/* background-image: url(http://subtlepatterns.com/patterns/ps_neutral.png); */
	background: no-repeat center center fixed;	
	background-size: cover;
	background-image: url(http://alpha.propinoy.net/wp-content/uploads/2011/06/worlddotblack.jpg);
	/* opacity: 0.4; */
	margin: 0;
}

p {
	margin-bottom: 50px;


}

#descriptor {
	 color: rgb(233, 21, 38);
}


h1 {
	font-size: 7vw;
	margin: 0;
	color: rgb(233, 21, 38);
	margin-top: 20px;
	
}


svg {
/* border: 4px solid rgb(233, 21, 38); */
padding: 10px; 
width: 300px;
height: 300px;
/* background-color: yellow; */
}
