html {

	background: url('./images/bg.jpg') no-repeat;
	background-color: #DFDBD8;
	background-position: bottom;
	height: 100%;
	font-family: 'Inconsolata';
	font-size: 14px;
	
}

h1 {

	font-size: 20px;
}

.container {
	max-width: 980px;
	margin: auto;
}


#projects {
/* background-color: white; */
padding: 15px;
width: 300px;
margin: auto;
margin-top: 00px;
/* border: 25px groove #FFFF00; */
height: 100%;
}

#left {
	float: left;
}

#right {
	float: right;
}

p {
	font-size: 12px;
}


a,  {
	background-color: yellow;
}

a:visited {
	background-color: yellow;
}




a:active {
	background-color: black;
	color: white;
}



p,h1 {padding-bottom: 8px;}
a {margin-bottom: 5px;}

