.desen {
	
	/*border: 2px solid gray;*/
	/*background-color: yellow;*/
	/*height: 800px;
	width: 800px;*/
	/*margin: auto auto;*/
	/*overflow: hidden;*/
	max-height: 600px;
	transition:opacity 1s;
-webkit-transition:opacity 1s; /* Safari */


}


#Layer1 {

border: 25px groove red !important;

}


h1 {
text-align: center;
font-family: 'Helvetica';
font-size: 3vw;
color: black;
}

.donotcolor {
	fill: none !important;
	stroke: black !important;
}