html {
	

	
}


#nuvreifont {
	color: white !important;
	font-size: 1.3em;
	text-align: center;
	float: right;
	position: absolute;
	right: 0;
padding: 150px;
	
}

/*#wrapper {
	width: 100%;
	height: 100%;
}*/

.bgvideo {
	z-index: -1;
	
}


svg {
	position: absolute;
}